<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">All tenants</div>

      <!-- Table -->
      <table class="table">
        <tr>
          <th>Title</th>
          <th>Initials</th>
          <th>Surname</th>
          <th>Plots</th>
        </tr>
        <tr ng-repeat="tenant in tenants">
          <td>{{tenant.title}}</td>
          <td>{{tenant.initials}}</td>
          <td>{{tenant.surname}}</td>
          <td><span ng-repeat="plot in tenant.plots"> {{plot.number}} </span></td>
          <td>
            <button ng-click="startEdit(tenant)" class="btn btn-xs btn-primary">Edit Tenant</button>
            <button ng-click="startEditPlots(tenant)" class="btn btn-xs btn-primary">Edit Plots</button>
            <button ng-click="deleteTenant(tenant)" class="btn btn-xs btn-primary">Delete</button>
          </td>
        </tr>
        <tr ng-form="myForm" ng-class="{danger: editedTenant}">
          <td><input name="myTitle" novalidate ng-model="editedTenant.title" required/></td>
          <td><input ng-model="editedTenant.initials" required /></td>
          <td><input ng-model="editedTenant.surname" required/></td>
          <td></td>
          <td>
            <button ng-hide="editedTenant._id" ng-disabled="myForm.$invalid" ng-click="createTenant(editedTenant)"
                    class="btn btn-xs btn-primary">Create
            </button>
            <button ng-show="editedTenant._id" ng-click="updateTenant(editedTenant)"
                    class="btn btn-xs btn-primary">Save
            </button>
            <button ng-show="editedTenant" ng-click="cancelEdit()"
                    class="btn btn-xs btn-primary">Cancel
            </button>
          </td>
        </tr>
      </table>
      <!-- Angular -->
      <a name="ng"></a>
      <div id="tenantplots"  ng-show="editedPlots" style="margin-top: 100px">
        <div style="margin-left: 30px">
          <div>
            <div style="width: 50%; float: left" data-force="5">Tenant's Plots</div>
            <div style="width: 50%; float: left" data-force="5">Available Plots</div>
          </div>
          <div style="width: 50%; float: left;" class="block__list_words">
            <div ng-controller="TodoController">
              <ul ng-sortable="{ group: 'todo', animation: 150 }" class="unstyled" style="min-height: 40px;">
                <li ng-repeat="plot in editedPlots">
                  <span>{{plot.number}}</span>
                </li>
              </ul>
            </div>
          </div>

          <div style="width: 50%; float: left;" class="block__list_words">
            <div ng-controller="TodoControllerNext">
              <ul ng-sortable="sortableConfig" class="unstyled" style="min-height: 40px;">
                <li ng-repeat="plot in availablePlots">
                  <span>{{plot.number}}</span>
                </li>
              </ul>
            </div>
          </div>
          <button ng-click="updatePlots(editedTenant)"
                  class="btn btn-xs btn-primary">Save
          </button>
          <button ng-click="cancelEditPlots()"
                  class="btn btn-xs btn-primary">Cancel
          </button>
          <div style="clear: both"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
