<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">All tenants</div>

      <!-- Table -->
      <table id="tenants" class="table">
        <tr>
          <th>Title</th>
          <th>Initials</th>
          <th>Surname</th>
          <th>Plots</th>
        </tr>
        <tr ng-repeat="tenant in tenants">
          <td>{{tenant.title}}</td>
          <td>{{tenant.initials}}</td>
          <td>{{tenant.surname}}</td>
          <td><span ng-repeat="plot in tenant.plots"> {{plot.number}} </span></td>
          <td style="width: 60%">
            <button ng-click="startEdit(tenant)" class="btn btn-xs btn-primary">Edit Tenant</button>
            <button ng-click="startEditPlots(tenant)" class="btn btn-xs btn-primary">Edit Plots</button>
            <button ng-click="deleteTenant(tenant)" class="btn btn-xs btn-primary">Delete</button>
          </td>
        </tr>
        <tr ng-form="myForm" ng-class="{danger: editedTenant}">
          <td><input name="myTitle" novalidate ng-model="editedTenant.title" required/></td>
          <td><input name="myInitials" novalidate ng-model="editedTenant.initials" required /></td>
          <td><input name="mySurname" novalidate ng-model="editedTenant.surname" required/></td>
          <td></td>
          <td style="width: 60%">
            <button ng-hide="editedTenant._id" ng-disabled="myForm.$invalid" ng-click="createTenant(editedTenant)"
                    class="btn btn-xs btn-primary">Create
            </button>
            <button ng-show="editedTenant._id" ng-click="updateTenant(editedTenant)"
                    class="btn btn-xs btn-primary">Save
            </button>
            <button ng-show="editedTenant" ng-click="cancelEdit()"
                    class="btn btn-xs btn-primary">Cancel
            </button>
          </td>
        </tr>
      </table>
      <!-- Angular -->
      <div class="panel panel-default"   height="100%" ng-show="editedPlots">
        <div class="panel-heading">
          Plots
        </div>
        <div class="panel-body">
          <div class="block__list_words">
            <div >
              <div style="width: 50%; float: left; font-weight: 700;" data-force="5">Tenant's Plots</div>
              <div style="width: 50%; float: left; font-weight: 700;" data-force="5">Available Plots</div>
            </div>
            <div style="width: 50%; float: left;" ng-controller="TodoController">
              <ul ng-sortable="{ group: 'todo', animation: 150 }" class="list-group" style="min-height: 40px;">
                <li class="list-group-item" ng-repeat="plot in editedPlots">
                  <span>{{plot.number}}</span>
                </li>
              </ul>
            </div>
          </div>

          <div class="block__list_words">
            <div style="width: 50%; float: left;" ng-controller="TodoControllerNext">
              <ul ng-sortable="sortableConfig" class="list-group" style="min-height: 40px;">
                <li class="list-group-item" ng-repeat="plot in availablePlots">
                  <span>{{plot.number}}</span>
                </li>
              </ul>
            </div>
          </div>
          <div ng-show="editedPlots">
            <button ng-click="updatePlots(editedTenant)"
                    class="btn btn-xs btn-primary">Save
            </button>
            <button ng-click="cancelEditPlots()"
                    class="btn btn-xs btn-primary">Cancel
            </button>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
<div ng-controller="ModalCtrl as $ctrl" class="modal-demo">
  <script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
      <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body" id="modal-body">
      {{tenants | json}}
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
      <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
  </script>
  <script type="text/ng-template" id="stackedModal.html">
    <div class="modal-header">
      <h3 class="modal-title" id="modal-title-{{name}}">The {{name}} modal!</h3>
    </div>
    <div class="modal-body" id="modal-body-{{name}}">
      Having multiple modals open at once is probably bad UX but it's technically possible.
    </div>
  </script>
  <!-- Button trigger modal -->
  <button type="button" ng-click="$ctrl.open()" class="btn btn-default">
    Launch demo modal
  </button>
</div>

